*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
.eggs/
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
env
repos
anteater.log
anteater-gate.log
anteater_files/.reports
# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

# Translations
*.mo

# Mr Developer
.project
.pydevproject
.idea
.vscode

# Complexity
output/*.html
output/*/index.html
dump.rdb

# Sphinx
docs/_build
README.html
